/* TemplateSelector.css */

.search-bar {
  max-width: 500px;
}

.search-icon,
.clear-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #6c757d;
}

.search-icon {
  left: 1rem;
}

.clear-icon {
  right: 1rem;
  cursor: pointer;
}
.top-container {
  padding: 2rem;
  background-color: #fdfdfd;
}

.align-items-md-center {
  align-items: center;
  background: none;
} 
.t{
  padding: 0;
}